/* https://daily-life-of-bigone.tistory.com/22 참조*/

.myPage_Edit {
    min-height: 1,989px;
    min-width: 1285px;
    display: flex;
    flex-direction: column;
    margin-top: 88px;
    margin-left: 242px;
}


.myPage_Edit_1{
    background-color: #ffffff; 
    display: flex;
    flex-direction: row;
    width: 1285px;
}
/* 프로필 시작*/
.profile{
    display: flex;
    flex-direction: row;
}
.profile_up_box {
    background-color: #ECECEC; 
    display: flex;
    margin-right: 25px;
    width: 636px;
    height: 678px;
    flex-direction: column;
    border-radius: 13px; 
}
.profile_image{
    width: 380px;
    height: 380px;
    border: thin solid  rgb(153, 151, 151);
    border-radius:50%;
    text-align:center;
    margin-top: 35px;
    margin-left: 128px;
    background-color: #ffffff;
}
.profile_nickname{
    width: 181px;
    height: 25px;
    margin: 22px auto;
    font-size: 32px;
    text-align:center;
}
.profile_message{
    width: 521px;
    height: 43px;
    margin: 36px;
    text-align:center;
}
textarea{
    display: inline-block;
    font-size: 25px;
    width: 521px;
    height: 43px;
    border: none;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #ECECEC; 
    text-align:center;
}
.profile_edit{
    font-size: 24px;
    width: 383px;
    height: 45px;
    margin-bottom: 41px;  
    margin-left: 130px;
    text-align:center;
    background-color: #D9D9D9;  
    border-radius: 13px;
}

/* 내 정보 시작*/
.myinfo {
    margin-right: 243px;
    background-color: #ECECEC; 
    width: 636px;
    height: 678px;
    border-radius: 13px; 
}
 
.myinfo_click{
    margin-top: 15px;
    margin-left: 35PX;
    font-size: 36px;
    display: flex;
    justify-content: left;
    align-items: center;
}


.myinfo_edit{
    margin-right: 39px;
    margin-bottom: 4px;
    font-size: 20px;
    justify-content: right;
    align-items: center;
    display: flex;
}

.myinfo_box{
    display: flex;
    width: 593px;
    height: 572px;
    border: none;
    border-radius:13px;
    margin-bottom: 22px;
    margin-left: 22px;  
    margin-right: 22px;
    background-color: #afafaf;
    flex-direction: column ;
}
.myinfo_box_info{
    width: 531px;
    height: 52px;
    display: flex;
    margin-left: 31px;
    margin-top: 9px;
    border-radius: 5px;
}
.name_box{
    width: 122px;
    height: 52px;
    border-radius: 5px;
    font-size: 20px; 
    background-color: #ffffff;
    text-align: center;
    line-height: 50px;
}
.name_line{
    width: 385px;
    height: 52px;
    text-align: center;
    line-height: 50px;
    border-color: white;
    border-width: 0px 0px 2px 0px ;
    border-style: solid;
    background-color: #afafaf;
    margin-left: 25px;
}

.mypage_2{
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    max-width: 1297px;
    max-height: 989px;
}
/*그래프 시작*/
.graph_box{
    width: 1297px;
    height: 315px;
    background-color: #afafaf;
    border-style: none;
    margin-top: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-radius: 13px; 
}
.textarea_2{
    background-color: #afafaf;
    border-style: none;
    margin-top: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 36px;

}